<ul class="navbar-nav bg-dark text-right">
    @if (Request.IsAuthenticated)
    {
        <li class="navbar-text">@User.Identity.Name!</li>
        <li class="nav-item"><a class="nav-link" href="/Account/SignOut"> Sign out <i class="fas fa-sign-out-alt"></i></a></li>
        @*@Html.ActionLink("Sign out", "SignOut", "Account")*@
        @*<a asp-controller="Account" asp-action="SignOut"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>*@
    }
    else
    {
        <li class="nav-item"><a class="nav-link" href="/Account/SignIn" id="loginLink"> Sign in <i class="fas fa-sign-in-alt"></i></a></li>

        @*<li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
        @*<li><a asp-controller="Account" asp-action="SignIn"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>*@
    }
</ul>
