@model TC3EF6.WebMVC.Models.ContactModel
@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Trademark</h2>
<h3>@Model.Title</h3>

<address>
    KClark Software<br />
    Aldan, PA 19018-4202<br />
    <abbr title="Phone">P:</abbr>
    (610)259-6999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kfc12@comcast.com">Web Administrator</a><br />
</address>