<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TC3EF6.WebForms-20190622095116.mdf;Initial Catalog=aspnet-TC3EF6.WebForms-20190622095116;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <!--<add name="TC3EF6Context" connectionString="Data Source=(localdb)\MSSQLLocalDB;initial catalog=TC3EF6;integrated security=True;" providerName="System.Data.SqlClient" />-->
        <add name="TC3EF6Context" connectionString="Data Source=B54J71N;initial catalog=TC3EF6;integrated security=True;" providerName="System.Data.SqlClient" />
        <!--<add name="adoTC3EF6" connectionString="Driver={SQL Server Native Client 11.0};Server=(localdb)\MSSQLLocalDB;Database=TC3EF6;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />-->
        <add name="adoTC3EF6" connectionString="Driver={SQL Server Native Client 11.0};Server=B54J71N;Database=TC3EF6;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="ida:ClientId" value="098c35a0-4b62-4073-bc17-3702cc1326bf" />
        <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
        <add key="ida:Domain" value="kfc12comcast.onmicrosoft.com" />
        <add key="ida:TenantId" value="2786668e-05f4-4ee9-aca1-f6f1ab468576" />
        <add key="ida:PostLogoutRedirectUri" value="https://localhost:44399/" />
    </appSettings>
    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Optimization" />
                <add namespace="Microsoft.AspNet.Identity" />
            </namespaces>
            <controls>
                <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
                <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
            </controls>
        </pages>
        <membership>
            <providers>
                <!--
	                ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
                -->
                <clear />
            </providers>
        </membership>
        <profile>
            <providers>
                <!--
	                ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
                -->
                <clear />
            </providers>
        </profile>
        <roleManager>
            <!--
	            ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
            -->
            <providers>
                <clear />
            </providers>
        </roleManager>
        <!--
                If you are deploying to a cloud environment that has multiple web server instances,
                you should change session state mode from "InProc" to "Custom". In addition,
                change the connection string named "DefaultConnection" to connect to an instance
                of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
            -->
        <sessionState mode="InProc" customProvider="DefaultSessionProvider">
            <providers>
                <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
            </providers>
        </sessionState>
    </system.web>
    <system.webServer>
        <modules>
            <remove name="FormsAuthentication" />
        </modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="WebHttpBinding">
                    <security mode="Transport" />
                </binding>
            </webHttpBinding>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" />
                <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding" />
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="True" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="TC3EF6.WebForms.Books.BooksServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <services>
            <service name="TC3EF6.WebForms.Books.BooksService">
                <!-- Not used with IIS - it does its own addressing...
                <host>
                    <baseAddresses>
                        <add baseAddress="https://localhost:44399/Books/BooksService/"/>
                    </baseAddresses>
                </host> 
                Note that no address attribute is provided on the endpoint definitions as well... -->
                <endpoint binding="basicHttpBinding" contract="TC3EF6.WebForms.Books.IBooksService" behaviorConfiguration="TC3EF6.WebForms.Books.BooksServiceAspNetAjaxBehavior" />
            </service>
        </services>
        <!--<client>
            <endpoint address="https://localhost:44399/Books/BooksService/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding" contract="TC3EF6.WebForms.Books.IBooksService"
                name="WSHttpBinding_IBooksService">
                <identity>
                    <userPrincipalName value="5CM4400N31\kfc12" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:44399/Books/BooksService/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding" contract="TC3EF6.WebForms.Books.IBooksService"
                name="BasicHttpBinding_IBooksService" />
            <endpoint address="net.tcp://localhost:8081/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding" contract="TC3EF6.WebForms.Books.IBooksService"
                name="NetTcpBinding_IBooksService">
                <identity>
                    <userPrincipalName value="5CM4400N31\kfc12" />
                </identity>
            </endpoint>
        </client>-->
    </system.serviceModel>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>